<!DOCTYPE html>
<html>
<head>
    <script src="/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/pmer_frame/proto_element.html">
    <link rel="import" href="/pmer_frame/picture-frame.html">
    <link rel="import" href="/pmer_frame/name-tag.html">
    <link rel="import" href="/pmer_frame/configurable-name-tag.html">
    <link rel="import" href="/pmer_frame/editable-name-tag.html">
</head>
<body>
<p>
<proto-element></proto-element>
</p>
<p>
<picture-frame>
      <img src="images/profile.jpg">
</picture-frame>
</p>
<p>
<name-tag></name-tag>
</p>
<!-- configure a property from markup by setting
         the corresponding attribute                 -->
         <p>
    <configurable-name-tag owner="Scott"></configurable-name-tag>
    </p>
    <p>
<editable-name-tag></editable-name-tag>
</p>
</body>
</html>